* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  width: 100%;
  max-width: 1412px;
  margin: 0 auto;
}
header {
  height: 100vh;
  background-image: url(../imgs/png-img/header-png.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  flex-grow: 1;
}
