/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v31-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/rubik-v31-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/rubik-v31-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik-v31-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/rubik-v31-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/rubik-v31-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lobster-regular - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lobster-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;

  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 1452px;
  margin: 0 auto;
  padding: 20px;
}
header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../imgs/png-img/header-png.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 28.5px;
  padding-bottom: 33px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.sitenav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-btn {
  display: none;
}
.sitenav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}
.naw-link {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.33px;
  color: white;
}
.naw-link:hover {
  color: #f39c11;
}
.sitenav-icons {
  display: flex;
  gap: 26px;
}
.hero {
  flex-grow: 1;
}
.hero-container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: "Lobster", display;
  font-size: 100px;
  line-height: 100%;
  color: white;
}
main {
  flex-grow: 1;
}
/*kompyuter*/
@media (max-width: 1200px) {
  .title {
    font-size: 80px;
  }
  .imgs-cof img {
    width: 487px;
    height: 437px;
  }
}
@media (max-width: 1100px) {
  .imgs-cof img {
    width: 467px;
    height: 417px;
  }
  .about-us h3 {
    font-size: 40px;
    line-height: 40px;
  }
  .about-us p {
    font-size: 15px;
    line-height: 25px;
  }
}
/*planshet*/
@media (max-width: 900px) {
  .logo {
    width: 150px;
    height: 70px;
  }
  .sitenav-icons a img {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 70px;
  }
  .imgs-cof img {
    width: 437px;
    height: 387px;
  }
}
/*planshet*/
@media (max-width: 765px) {
  .sitenav-links {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .title {
    font-size: 60px;
  }
  .imgs-cof img {
    width: 400px;
    height: 350px;
  }
  .about-us p {
    font-size: 10px;
    line-height: 20px;
  }
  .about-us h3 {
    font-size: 25px;
    line-height: 25px;
  }
  .about-us button {
    padding: 10px 20px;
  }
}
/*telefon*/
@media (max-width: 650px) {
  .imgs-cof img {
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 550px) {
  header {
    background-image: url(../imgs/png-img/header-responsive.png);
  }
  .sitenav-icons {
    gap: 10px;
  }
  .title {
    font-size: 50px;
  }
  .imgs-cof img {
    width: 300px;
    height: 250px;
  }
  .about-us p {
    font-size: 8px;
    line-height: 15px;
  }
}
@media (max-width: 450px) {
  .main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about-content .imgs-cof {
    order: -2;
  }
}

/*telefon*/
@media (max-width: 315px) {
  .sitenav-icons a img {
    width: 30px;
    height: 30px;
  }
  .menu-btn img {
    width: 30px;
    height: 30px;
  }
  .logo {
    width: 100px;
    height: 50px;
  }
  .title {
    font-size: 30px;
  }
  .down-arrow img {
    width: 50px;
    height: 50px;
  }
}
/*content*/
.about-content {
  height: 100%;
  background-color: #fff4d8;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about {
  font-family: "Lobster", display;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.33px;
  padding-bottom: 33px;
}
.text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.33px;
  color: #555555;
  padding-bottom: 33px;
}
.Learn {
  padding: 20px 30px;
  background-color: #f39c11;
  border-radius: 10px;
  color: aliceblue;
}
